.yellow {
  background-color: #ffc107;
  border-color: black;
  color: black;
  font-weight: 600;
}

.btn.yellow:hover {
  background-color: #ffc107;
  border-color: black;
  color: black;
}

.image {
  width: 100px;
  height: 100px;
}